@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("/GeistVariableVF.ttf")
}

html,
body,
#root {
  @apply min-h-dvh min-w-[320px] scroll-smooth;
}

* {
  font-family: 'Geist', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-wrap: balance;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

[data-theme='dark'] img {
  filter: brightness(0.85);
}